<h1 class="text-3xl font-bold underline mb-6 text-center">
    Prédiction de masque     
</h1>

<p class="pb-3 text-center">
    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
        <a href="/shuffle">Choisir 4 autres images</a>
    </button>
</p>

<div class="grid grid-cols-4 gap-4 place-items-center">
{% for image in images %}
    <img onclick="window.location.href='/predict?idx={{ loop.index0 }}' ;" class="w-48 h-48 object-cover aspect-square shadow shadow-black rounded cursor-pointer hover:scale-105 transition-transform" src="data:image/png;base64,{{image}}">
{% endfor %}
</div>